<a href="https://colab.research.google.com/github/gabrielcn/Bike_Sharing/blob/main/cyclistic_bike_share.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd #Importa a biblioteca pandas para ler o arquivo
import csv
from datetime import datetime #operações para analisar datas

In [5]:
df_chicago = pd.read_csv("Chicago-2016-Summary.csv") #Atribui a uma variável

In [6]:
df_chicago

        duration  month  hour day_of_week   user_type
0      15.433333      3    23    Thursday  Subscriber
1       3.300000      3    22    Thursday  Subscriber
2       2.066667      3    22    Thursday  Subscriber
3      19.683333      3    22    Thursday  Subscriber
4      10.933333      3    22    Thursday  Subscriber
...          ...    ...   ...         ...         ...
72126   3.883333     10     1    Saturday  Subscriber
72127   7.866667     10     1    Saturday  Subscriber
72128  17.816667     10     0    Saturday    Customer
72129  24.866667     10     0    Saturday  Subscriber
72130  10.400000     10     0    Saturday  Subscriber

[72131 rows x 5 columns]

In [8]:
df_ny = pd.read_csv("NYC-2016-Summary.csv") #Atribui a uma variável

In [9]:
df_ny

         duration  month  hour day_of_week   user_type
0       13.983333      1     0      Friday    Customer
1       11.433333      1     0      Friday  Subscriber
2        5.250000      1     0      Friday  Subscriber
3       12.316667      1     0      Friday  Subscriber
4       20.883333      1     0      Friday    Customer
...           ...    ...   ...         ...         ...
276793   4.916667     12    22    Saturday    Customer
276794   4.616667     12    22    Saturday  Subscriber
276795  10.016667     12    23    Saturday  Subscriber
276796  35.033333     12    23    Saturday  Subscriber
276797  20.966667     12    23    Saturday  Subscriber

[276798 rows x 5 columns]

In [10]:
df_was = pd.read_csv("Washington-2016-Summary.csv") #Atribui a uma variável

In [11]:
df_was

        duration  month  hour day_of_week   user_type
0       7.123117      3    22    Thursday  Subscriber
1       9.792517      3    22    Thursday  Subscriber
2       6.632983      3    22    Thursday  Subscriber
3       7.404700      3    22    Thursday  Subscriber
4      13.014583      3    22    Thursday  Subscriber
...          ...    ...   ...         ...         ...
66321  15.421933     10     8    Saturday  Subscriber
66322   6.355217     10     5    Saturday  Subscriber
66323  17.632783     10     2    Saturday  Subscriber
66324   3.377233     10     0    Saturday  Subscriber
66325   4.341450     10     0    Saturday  Subscriber

[66326 rows x 5 columns]

In [12]:
df_chicago.shape #Formato da tabela

(72131, 5)

In [13]:
df_ny.shape #Formato da tabela

(276798, 5)

In [15]:
df_was.shape #Formato da tabela

(66326, 5)

In [16]:
df_chicago.columns = ["duracao" , "mes" , "hora" , "dia_semana", "tipo_usuario"] #renomear colunas [] lista (columns é um atributo do pandas)
df_chicago.head()

     duracao  mes  hora dia_semana tipo_usuario
0  15.433333    3    23   Thursday   Subscriber
1   3.300000    3    22   Thursday   Subscriber
2   2.066667    3    22   Thursday   Subscriber
3  19.683333    3    22   Thursday   Subscriber
4  10.933333    3    22   Thursday   Subscriber

In [17]:
df_ny.columns = ["duracao" , "mes" , "hora" , "dia_semana", "tipo_usuario"] #renomear colunas [] lista (columns é um atributo do pandas)
df_ny.head()

     duracao  mes  hora dia_semana tipo_usuario
0  13.983333    1     0     Friday     Customer
1  11.433333    1     0     Friday   Subscriber
2   5.250000    1     0     Friday   Subscriber
3  12.316667    1     0     Friday   Subscriber
4  20.883333    1     0     Friday     Customer

In [18]:
df_was.columns = ["duracao" , "mes" , "hora" , "dia_semana", "tipo_usuario"] #renomear colunas [] lista (columns é um atributo do pandas)
df_was.head()

     duracao  mes  hora dia_semana tipo_usuario
0   7.123117    3    22   Thursday   Subscriber
1   9.792517    3    22   Thursday   Subscriber
2   6.632983    3    22   Thursday   Subscriber
3   7.404700    3    22   Thursday   Subscriber
4  13.014583    3    22   Thursday   Subscriber

In [19]:
df_chicago['mes'].value_counts() #Quantas vezes em cada mes

7     10286
8      9810
6      9794
9      8700
5      7211
10     7160
11     4811
4      4567
3      3719
2      2394
1      1901
12     1778
Name: mes, dtype: int64

In [20]:
df_ny['mes'].value_counts() #Quantas vezes em cada mes

9     32699
10    31519
8     31104
6     29242
7     27522
5     24455
11    24148
4     20160
3     18413
12    16186
2     11170
1     10180
Name: mes, dtype: int64

In [21]:
df_was['mes'].value_counts() #Quantas vezes em cada mes

7     7341
6     7320
8     7198
9     6878
10    6792
5     5768
4     5602
3     5571
11    5214
12    3354
2     2854
1     2434
Name: mes, dtype: int64