<a href="https://colab.research.google.com/github/gabrielcn/Bike_Sharing/blob/main/cyclistic_bike_share.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd #Importa a biblioteca pandas para ler o arquivo

In [13]:
# Chicago
df_chicago = pd.read_csv("Chicago-2016-Summary.csv") #Atribui a uma variável

In [14]:
df_chicago

        duration  month  hour day_of_week   user_type
0      15.433333      3    23    Thursday  Subscriber
1       3.300000      3    22    Thursday  Subscriber
2       2.066667      3    22    Thursday  Subscriber
3      19.683333      3    22    Thursday  Subscriber
4      10.933333      3    22    Thursday  Subscriber
...          ...    ...   ...         ...         ...
72126   3.883333     10     1    Saturday  Subscriber
72127   7.866667     10     1    Saturday  Subscriber
72128  17.816667     10     0    Saturday    Customer
72129  24.866667     10     0    Saturday  Subscriber
72130  10.400000     10     0    Saturday  Subscriber

[72131 rows x 5 columns]

In [15]:
# NY
df_ny = pd.read_csv("NYC-2016-Summary.csv") #Atribui a uma variável

In [16]:
df_ny

         duration  month  hour day_of_week   user_type
0       13.983333      1     0      Friday    Customer
1       11.433333      1     0      Friday  Subscriber
2        5.250000      1     0      Friday  Subscriber
3       12.316667      1     0      Friday  Subscriber
4       20.883333      1     0      Friday    Customer
...           ...    ...   ...         ...         ...
276793   4.916667     12    22    Saturday    Customer
276794   4.616667     12    22    Saturday  Subscriber
276795  10.016667     12    23    Saturday  Subscriber
276796  35.033333     12    23    Saturday  Subscriber
276797  20.966667     12    23    Saturday  Subscriber

[276798 rows x 5 columns]

In [17]:
# Washington
df_was = pd.read_csv("Washington-2016-Summary.csv") #Atribui a uma variável

In [18]:
df_was

        duration  month  hour day_of_week   user_type
0       7.123117      3    22    Thursday  Subscriber
1       9.792517      3    22    Thursday  Subscriber
2       6.632983      3    22    Thursday  Subscriber
3       7.404700      3    22    Thursday  Subscriber
4      13.014583      3    22    Thursday  Subscriber
...          ...    ...   ...         ...         ...
66321  15.421933     10     8    Saturday  Subscriber
66322   6.355217     10     5    Saturday  Subscriber
66323  17.632783     10     2    Saturday  Subscriber
66324   3.377233     10     0    Saturday  Subscriber
66325   4.341450     10     0    Saturday  Subscriber

[66326 rows x 5 columns]